
<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1080" height="1080" viewBox="0 0 1080 1080" xml:space="preserve">
<desc>Created with Fabric.js 5.2.4</desc>
<defs>
</defs>
<g transform="matrix(0 0 0 0 0 0)" id="bbd47d4c-c382-4d63-babf-70e6e5969173"  >
</g>
<g transform="matrix(1 0 0 1 540 540)" id="c1207f35-17c7-406e-a7b9-5eedd33fa72b"  >
<rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;" vector-effect="non-scaling-stroke"  x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" />
</g>
<g transform="matrix(2.71 0 0 2.71 539.91 539.91)"  >
<g style="" vector-effect="non-scaling-stroke"   >
		<g transform="matrix(47.06 0 0 47.06 0 0)"  >
<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(105,108,255); fill-rule: evenodd; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(-4.98, -4)" d="M 7.854 8 L 2.116 8 C 0.95 8 1.001 7 1.001 6.903 L 1.001 1 C 1.001 0 1.084 0 2.116 0 L 7.854 0 C 9.02 0 8.969 0 8.969 1 L 8.969 6.903 C 8.969 8.06 9 8 7.854 8 L 7.854 8 Z M 2 1 L 2 7.031 L 8 7.031 L 8 1 L 2 1 L 2 1 Z" stroke-linecap="round" />
</g>
		<g transform="matrix(47.06 0 0 47.06 -0.02 0.72)"  >
<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(105,108,255); fill-rule: evenodd; opacity: 1;" vector-effect="non-scaling-stroke"  transform=" translate(-0.98, -2.02)" d="M 1.969 1 L 1.969 0.031 L 0 0.031 L 0 4 L 1 4 L 1 2.984 L 1.969 2.984 L 1.969 2.016 L 1 2.016 L 1 1 L 1.969 1 Z" stroke-linecap="round" />
</g>
		<g transform="matrix(47.06 0 0 47.06 69.88 -24.25)"  >
<rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(105,108,255); fill-rule: evenodd; opacity: 1;" vector-effect="non-scaling-stroke"  x="-0.47" y="-0.485" rx="0" ry="0" width="0.94" height="0.97" />
</g>
</g>
</g>
</svg>