{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Basic Tables{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ui-modals.js' %}"></script>
{% endblock page_js %}



{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Basic Tables
</h4>
<!-- Basic Bootstrap Table -->
    <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">Default</small>
        <div class="mt-3">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
              New Credentials
          </button>

  <div id="saveokalert" class="bg-success bs-toast toast toast-placement-ex m-2 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
  <div class="toast-header">
    <i class='bx bx-bell me-2'></i>
    <div class="me-auto fw-medium">Success</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    New Credentials Have Been Saved .
  </div>
</div>

 <div id="qrcodefoundalert" class="bg-success bs-toast toast toast-placement-ex m-2 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
  <div class="toast-header">
    <i class='bx bx-bell me-2'></i>
    <div class="me-auto fw-medium">Success</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Found Secret Code From Upload Image.
  </div>
</div>

  <div id="deletealert" class="bg-success bs-toast toast toast-placement-ex m-2 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
  <div class="toast-header">
    <i class='bx bx-bell me-2'></i>
    <div class="me-auto fw-medium">Success</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Your Credential have been deleted.
  </div>
</div>

<div id="nofileupload" class="bg-danger bs-toast toast toast-placement-ex m-2 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
  <div class="toast-header">
    <i class='bx bx-bell me-2'></i>
    <div class="me-auto fw-medium">Fail</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    No file upload,please choose a QR image.
  </div>
</div>



              <!-- List group checkbox -->
      <div class="col-lg-6">
        <small class="text-light fw-medium">List Group With Checkbox</small>
        <div class="demo-inline-spacing mt-3">
          <div class="list-group">
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Soufflé pastry pie ice
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Bear claw cake biscuit
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Tart tiramisu cake
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Bonbon toffee muffin
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Dragée tootsie roll
            </label>
          </div>
        </div>
      </div>
      <!--/ List group checkbox -->
          <!-- Modal -->
          <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">


              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">Credentials</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameBasic" class="form-label">App Name</label>
                      <input type="text" id="new-app-name" class="form-control" >
                    </div>
                  </div>
                    <div class="row">
                    <div class="col mb-3">
                      <label for="urlBasic" class="form-label">App URL</label>
                      <input type="url" id="new-url" class="form-control" >
                    </div>
                  </div>

                    <div class="row g-2">
                    <div class="col mb-0">
                      <label for="nameBasic" class="form-label">App Username</label>
                      <input type="text" id="new-username" class="form-control" >
                    </div>
                    <div class="col mb-0">
                      <label for="pwdBasic" class="form-label">App Password</label>
                      <input type="text" id="new-password" class="form-control">
                    </div>
                  </div>

                    <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Upload QR Code picture</label>
                      <div class="input-group">
                      <input type="file" class="form-control" id="qrcode-file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                      <button onclick="uploadQRCode()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">Upload</button>
                    </div>
                    </div>
                  </div>


                    <div class="row">
                    <div class="col mb-3">
                      <label for="nameBasic" class="form-label">OTP Secret Key</label>
                      <input type="text" id="new-otp-key" class="form-control" placeholder="JBSWY3DPEHPK3PXP or 'otpauth://totp/App:alice@google.com?secret=JBSWY3DPEHPK3PXP&issuer=App'">
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="savenewclose" >Close</button>
                  <button type="button" class="btn btn-primary" id="savenewbutton">Save changes</button>
                </div>
              </div>

            </div>
          </div>
            <!--  modal -->
        </div>
    </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">Delete Confirm</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameBasic" class="form-label">confirm delete your cred</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="cancelDeleteBtn">Close</button>
                  <button type="button" class="btn btn-primary" id ="confirmDeleteBtn">Confirm</button>
                </div>
              </div>
            </div>
          </div>


<div class="card">
  <h5 class="card-header">Table Basic</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
            <th>AppName</th>
           <th>URL</th>
          <th>Username</th>
          <th>Password</th>
          <th>2FA</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">

      {% for credential in credentials %}
                <tr>
                    <td>{{ credential.app_name }}</td>
                    <td><a href="{{ credential.app_url }}" target="_blank">{{ credential.app_url }}</a></td>
                    <td>{{ credential.app_username }}</td>

           <td>
            <div class="form-password-toggle">
          <div class="input-group">
            <input type="password" class="form-control" id="app-password-{{ credential.id }}" value="{{ credential.app_password }}" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="basic-default-password2"  />
            <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
          </div>
        </div>
        </td>
          <td>
          <div class="input-group">
              <input type="text" class="form-control otp-input" id="{{ credential.id }}" value="" placeholder="******" disabled >
          <button class="btn btn-primary otp-button" type="button" id="otpButton-{{ credential.id }}" >
              Refresh
            </button>
               </div>
        </td>

          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="javascript:edit_cred({{ credential.id }});"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="javascript:share_cred({{ credential.id }});"><i class="bx bxs-share-alt me-1"></i> Share</a>
                <a class="dropdown-item" href="javascript:delete_cred({{ credential.id }});"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->

<hr class="my-5">

<script type="text/javascript">
async function edit_cred(id){
    const response =  await fetch('/edit/'+id+'/', {
        method: 'GET',
    });
    const data = await response.json();
    if (data) {
        $("#new-app-name").val(data['app_name']);
        $("#new-url").val(data['app_url']);
        $("#new-username").val(data['app_username']);
        $("#new-password").val(data['app_password']);
        $("#new-otp-key").val(data['app_two_fa']);
        $('#basicModal').modal('show');

    }
}
function share_cred(id){


}



function delete_cred(id){
      const modal = new Promise(function(resolve, reject){
                 $('#deleteModal').modal('show');
                 $('#confirmDeleteBtn').click(function(){
                        //resolve("user clicked");
                        $('#deleteModal').modal('hide');

            fetch('/delete/'+id+'/', {
                    method: 'GET',
                    //body: formData
                    //body: JSON.stringify({'a':1})
            })
            .then(response => {
            // Handle response from server
                if (response.ok) {
                  // Modal can be closed or other actions can be taken
                    $('#deletealert').show();
                   setTimeout(function() {
                        $('#deletealert').hide();
                       window.location.reload();}, 2000); // 2 seconds
                    console.log('Deletion success');
                } else {
                  console.error('Deletion failed,no response');
                }
            })
       })
    })
 }

 function delete_cred(id){
      const modal = new Promise(function(resolve, reject){
                 $('#deleteModal').modal('show');
                 $('#confirmDeleteBtn').click(function(){
                        //resolve("user clicked");
                        $('#deleteModal').modal('hide');

            fetch('/delete/'+id+'/', {
                    method: 'GET',
                    //body: formData
                    //body: JSON.stringify({'a':1})
            })
            .then(response => {
            // Handle response from server
                if (response.ok) {
                  // Modal can be closed or other actions can be taken
                    $('#deletealert').show();
                   setTimeout(function() {
                        $('#deletealert').hide();
                       window.location.reload();}, 2000); // 2 seconds
                    console.log('Deletion success');
                } else {
                  console.error('Deletion failed,no response');
                }
            })
       })
    })
 }

  async function uploadQRCode() {
            const fileInput = document.getElementById('qrcode-file');
            const file = fileInput.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('image_data',  await convertImageToBase64(file));
                const response =  await fetch('{% url "read_qrcode" %}', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                if (data.qrcode) {
                    //document.getElementById('new-otp-key').textContent = `QR Code data: ${data.data}`;
                    $('#new-otp-key').val(data.qrcode);
                    $('#qrcodefoundalert').show();
                    setTimeout(function() {$('#qrcodefoundalert').hide();}, 2000); // 2 seconds
                } else {
                    $('#new-otp-key').val("No QR Code data found.");
                    //document.getElementById('new-otp-key').textContent = 'No QR Code data found.';
                }
            } else {
                $('#nofileupload').show();
                setTimeout(function() {$('#nofileupload').hide();}, 2000); // 2 seconds

            }
}

       async  function convertImageToBase64(file) {
            return new Promise((resolve, reject) => {
                const fileReader = new FileReader();
                fileReader.onload = () => resolve(fileReader.result.split(',')[1]);
                fileReader.onerror = (error) => reject(error);
                fileReader.readAsDataURL(file);
            });
        }





document.getElementById("savenewclose").addEventListener('click', function() {
    $("#new-app-name").val('');
    $("#new-url").val('');
    $("#new-username").val('');
    $("#new-password").val('');
    $("#qrcode-file").val('');
    $("#new-otp-key").val('');
})

document.getElementById("savenewbutton").addEventListener('click', function() {
    var new_app_name = $("#new-app-name").val();
    var new_url = $("#new-url").val();
    var new_username = $("#new-username").val();
    var new_password = $("#new-password").val();
    var new_otp_key = $("#new-otp-key").val();
      // Send AJAX request
    fetch('/add/', {
        method: 'POST',
        //body: formData
        //body: JSON.stringify({'a':1})
        body: JSON.stringify({app_name:new_app_name, app_url: new_url,app_username:new_username,app_password:new_password,app_two_fa:new_otp_key})
    })
    .then(response => {
    // Handle response from server
        if (response.ok) {
          // Modal can be closed or other actions can be taken
            $("#new-app-name").val('');
            $("#new-url").val('');
            $("#new-username").val('');
            $("#new-password").val('');
            $("#qrcode-file").val('');
            $("#new-otp-key").val('');
            $('#basicModal').modal('hide');

            $('#saveokalert').show();
            setTimeout(function() {
                $('#saveokalert').hide();
                window.location.reload();
                }, 2000); // 2 seconds

          console.log('Credentials submitted successfully');
        } else {
          console.error('Error submitting credentials');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });

  });

// 选择所有按钮元素和输入框元素
    var otpbuttons = document.querySelectorAll('.otp-button');
    var otpinputs = document.querySelectorAll('.otp-input');
    // 遍历每个按钮和输入框
    otpbuttons.forEach(function(button, index) {
      var isclick = false;
      var timerId;
      // 添加点击事件监听器
      button.addEventListener('click', function() {
          var ctd=30;
        // 如果按钮颜色为蓝色,将其改为红色并显示输入框
        if (!isclick) {
          this.classList.add('disabled');
          fetch('/api/get_otp/'+otpinputs[index].id+'/')
            .then(response => response.json())
            .then(data => {
              otpinputs[index].value = data.otp;
              ctd= data.rtime;
              //inputs[index].classList.remove('disabled');
            })
            .catch(error => {
              console.error('Error fetching data:', error);
            });
          isclick = true;

          // 启动定时器,30 秒后将按钮颜色改回蓝色并隐藏输入框
          timerId = setInterval(function() {
              this.textContent=ctd;
              ctd--;
              if (ctd < 0){
                  this.classList.remove('disabled');
                  otpinputs[index].value='';
                  this.textContent="Refresh";
                  //inputs[index].classList.add('disabled');
                  isclick = false;
                  clearInterval(timerId);
              }

          }.bind(this), 1000);
        }

      });
    });


</script>


{% endblock %}
