{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Basic Tables{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ui-modals.js' %}"></script>
{% endblock page_js %}



{% block content %}

 {% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}List groups - UI elements{% endblock %}


<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">UI elements /</span> List groups
</h4>

<div class="card mb-4">
  <h5 class="card-header">List groups</h5>

  <hr class="m-0">
  <div class="card-body">
    <div class="row">
      <!-- List group Numbered -->
      <div class="col-lg-6 mb-4 mb-xl-0">
        <small class="text-light fw-medium">Numbered</small>
        <div class="demo-inline-spacing mt-3">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">Bear claw cake biscuit</li>
            <li class="list-group-item">Soufflé pastry pie ice</li>
            <li class="list-group-item">Tart tiramisu cake</li>
            <li class="list-group-item">Bonbon toffee muffin</li>
            <li class="list-group-item">Dragée tootsie roll</li>
          </ol>
        </div>
      </div>
      <!--/ List group Numbered -->
      <!-- List group checkbox -->
      <div class="col-lg-6">
        <small class="text-light fw-medium">List Group With Checkbox</small>
        <div class="demo-inline-spacing mt-3">
          <div class="list-group">
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Soufflé pastry pie ice
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Bear claw cake biscuit
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Tart tiramisu cake
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Bonbon toffee muffin
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Dragée tootsie roll
            </label>
          </div>
        </div>
      </div>
      <!--/ List group checkbox -->
    </div>
  </div>


</div>



{% endblock %}
